{* This is the welcome page, you can delete it *}

{block content}

<ul>
	<li><a n:href="create">přidat event</a></li>
</ul>

<h2>Eventy</h2>

<ul>
{foreach $events as $event}
	<li>{$event->name} - {$event->id} - <a n:href="edit id=>$event->id">editovat</a></li>
{/foreach}
</ul>